html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Open Sans", "Oxygen", sans-serif;
  color: black;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#logo {
  font-family: "fujita rey" "Raleway" sans-serif;
  font-weight: 600;
  color: #555;
  font-size: 30px;
  padding-left: 10px;
  background: linear-gradient(to left, rgb(155, 252, 255), rgb(3, 53, 53));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

/*#nav-bar {
    position: sticky;
    z-index: 10;
    top: 0px;
    background-color:white;
  }*/

.nav-bar {
  position: sticky;
  top: 0 px;
  z-index: 10;

  background-color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}

.navbar-toggler {
  border: none !important;
}

.navbar {
  color: black !important;
}

.navbar-link {
  font-weight: 600px;
  color: white !important;
}

<!--#nav-bar {
  position: sticky;
  z-index: 10;
  top: 0px;
  background-color: white;
}
-- > .nav-link {
  color: black;
  font-size: 40px;
  font-family: poppins;
  font-style: normal;
  font-weight: normal;
}

.nav-item {
  padding-left: 15px;
}
/*rgb(59, 156, 30)*/
.nav-item a:hover {
  color: #14b5a5 !important;
}

.home {
  text-align: center;
  padding: 25px;
}

/*.calendercontent li{
  font-weight: bold;
  padding: 10px;
}*/

footer {
  color: black;
  background-color: white;
  text-align: center;
  margin-top: auto;
  padding: 15px;
  position: sticky;
  font-family: rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 130.7%;
color: #333D47;
}

.foot {
  color: #333333;
  padding: 15px;
}
.foot:hover {

  text-decoration: none;
}
.card-body a:hover{
    text-decoration: none;
}

#userinfo img {
  padding: 20px;
}

#userinfo p {
  padding-left: 25px;
  font-weight: bold;
  font-size: 25px;
  padding-top: 5px;
}

#userinfo h4 {
  font-weight: bold;
  text-align: center;
}
.card-header {
  color: #14b5a5;
}
.container {
  display: inline;
  margin: auto;
}
.pagetable{
   top: 300px;
   position: relative;
}
.ctable {
  position: relative;
  margin-left: auto;
  margin-right:auto;
  border-collapse: separate;
}

.cname {
  padding: 5px 10px 5px 10px;
  color: #333333;
  font-size: 16px;
  font-family: rubik;
}

.ctime {
  padding: 5px 10px 5px 10px;
}

.clink {
  color: #14b5a5;
}

.clink:hover {
  text-decoration: none;
}

#contactimg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/static/img/im2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*#contact-form{
    text-align: center;
}*/

/*.parent {
    position: relative;
    left: 500px;
    width: calc(100% - 400px);
}*/

.fa {
  height: 50px;
  width: 50px;
}

.block button {
  color: #14b5a5;
  border: solid 1px #14b5a5;
  border-radius: 16px;
  margin-top: 15px;
}
.block button:hover{
    background-color: #14b5a5;
    color:white;
}

/*.block {
  padding-left: 10px;
  padding-right: 10px;
}*/

.screen-box {
  position: relative;
  width: 100%;
  height: 280px;
  background-color: #0875e1;
  color: white;
  text-align: center;
}

.screen-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130.7%;
  top: 100px;
  padding-bottom: 10px;
}

.screen-subtitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130.7%;
  top: 160px;
}

.separator {
  margin-top: 75px;
}

.small-separator {
  margin-top: 25px;
}
.page-heading {
  text-align: center;
  padding-bottom: 5px;
  color: #333333;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 3px;
}

.page-sub-heading {
  text-align: center;
  color: #333333;
  font-size: 18px;
  font-family: rubik;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.heading {
  text-align: center;
  color: #333333;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
}

.page-text {
  text-align: center;
  color: #333333;
  font-size: 16px;
  font-family: rubik;
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.gitlink:hover {
  text-decoration: none;
}

.col {
  text-align: center;
}
.col:hover {
  text-decoration: none;
}
.button-success {
  color: white;
  background-color: #66bb6a;
}

.button {
  font-family: rubik;

  border: none;

  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  letter-spacing: 1.5px;
  padding: 11px 16px;
  text-decoration: none;
}

/*.pad0 {
  padding: 0;
}*/

.vis_field {
  border: 1px solid #14b5a5 !important;
  color: #14b5a5 !important ;
}

.search_field {
    border:none;
  border-bottom: 1px solid #14b5a5 !important;
  color: #14b5a5 !important ;

}
.search_field:focus{
    box-shadow: 0 0 0 0.2em #14b5a5;
}
.btn_search{
    color: #14b5a5;
    border: none;
}
.btn_search:hover{
    background:#14b5a5;
    color:white;
}

.profile_container {
    width:30%;
    height:100%;
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
}
.photo {
    width:20%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 80px;
}
.rating_container {
    width:50%;
    height:100%;
    padding-right: 30px;
    padding-left: 25px;
}

.card{
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-deck{
    margin:0;
}
@media (min-width: 992px){
    .container-fluid{
        width:70%;
    }
}